.container {
    width: 100%;
    height: 100vh;
    display: flex;

}

.judge-title {
    width: 480px;
    background: #C3DD00;
    box-shadow: 10px 10px black;
    padding: 10px;
    margin: 20px;
}


.judge-info {
    box-shadow: 10px 10px black;
    color: black;
    background: #C3DD00;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    align-items: center;
    display: flex;

}
.name-info{
    flex-direction: column;
}

.judge-image {
    width: 670px;
    height: 570px;
    background: #EBE5E5;
    border: 4px solid #000000;
    
  

}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.judge-name {
    width: 670px;
    height: 140px;
    background: #C3DD00;
    border: 4px solid #000000;
    


}

.judge-question-one {
    width: 670px;
    height: 74.1px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.judge-answer {
    width: 670px;
    height: 151.9px;
    background: #EBE5E5;
    border: 4px solid #000000;
    text-align: left;
}

.judge-question-two {

    width: 670px;
    height: 74.1px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.judge-answer-two {
    width: 670px;
    height: 151.9px;
    background: #EBE5E5;
    border: 4px solid #000000;
    text-align: left;
}

.judge-question-three {
    width: 670px;
    height: 74.1px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.judge-answer-three {
    width: 670px;
    height: 151.9px;
    background: #EBE5E5;
    border: 4px solid #000000;
    text-align: left;
}

.jtitle-style {
    font-size: 40pt;
    text-align: center;
    margin: 10px;
}

.question-style {
    font-size: 35pt;
    text-align: center;
    margin: 10px;
}

.answer-style {
    font-size: 25pt;
    margin: 10px;
}