.judge-title {
    width: 480px;
    background: #C3DD00;
    padding: 10px;
    margin: 20px;
    border: 4px solid #000000;
}


.judge-info {
    box-shadow: 10px 10px black;
    color: black;
    height: auto;
    width: auto;
    display: flex;
    align-items: row;
    justify-content: center;
  
    
}

.name-info {
    
    align-items: center;
}

.judge-image {
    width: auto;
    height: 570px;
    background: #EBE5E5;
    border: 4px solid #000000;
    object-fit: cover;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.judge-name {
    width: 670px;
    height: 140px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.questions {
    
}

.judge-question-one {
    width: 670px;
    height: 74.1px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.judge-answer {
    width: 670px;
    height: 151.9px;
    background: #EBE5E5;
    border: 4px solid #000000;
    text-align: left;
}

.judge-question-two {

    width: 670px;
    height: 74.1px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.judge-answer-two {
    width: 670px;
    height: 151.9px;
    background: #EBE5E5;
    border: 4px solid #000000;
    text-align: left;
}

.judge-question-three {
    width: 670px;
    height: 74.1px;
    background: #C3DD00;
    border: 4px solid #000000;

}

.judge-answer-three {
    width: 670px;
    height: 151.9px;
    background: #EBE5E5;
    border: 4px solid #000000;
    text-align: left;
}

.jtitle-style {
    font-size: 40pt;
    text-align: center;
    margin: 10px;
}

.question-style {
    font-size: 35pt;
    text-align: center;
    margin: 10px;
}

.answer-style {
    font-size: 25pt;
    margin: 10px;
}