.navbar {
    width: 100%;
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Ensure it stays at the top when scrolling */
    top: 0;
    left: 0;}

.container {
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #EBF4F8;
}

.event-buttons {
    border: 3px solid black !important;
    background: #ebe5e5 !important;
    padding: 15px Im;
    display: inline-block;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}