.admin-events-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
}
  
.admin-event-box {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 20px;
    background-color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.admin-event-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.admin-event-left, .admin-event-right {
    width: 48%;
}
  
.admin-event-left {
    text-align: left; 
    padding-right: 20px;
}
  
.admin-event-right {
    text-align: left;
    padding-left: 20px;
}
  
.admin-event-label {
    font-weight: bold;
    font-size: 18px;
    color: #0071ff;
}
  
.admin-event-info {
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
  
.admin-event-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.admin-event-button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid black;
    background-color: #c3dd00;
    color: #000;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}
  
.admin-event-button:hover {
    background-color: #d9e602;
}
  
.admin-delete-button {
    background-color: #ff734f;
}
  
.admin-delete-button:hover {
    background-color: #ff967f;
}
  
.admin-logout-btn {
    background-color: #c3dd00;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: #000;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}
  
.admin-logout-btn:hover {
    background-color: #d9e602;
}
