body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #007bff;
  font-weight: bold; 
  font-family: 'Inter', sans-serif;
}

.nav-button {
  font-family: 'Inter', sans-serif;
  font-weight: bold; 
  background: none;
  border: none;
  color:white;
  font-size: 20px;
  cursor: pointer;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-header {
  padding: 20px;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.landing-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-subtitle {
  color: white;
  font-size: 20px;
}

.main-logo {
  width: 900px;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}