body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0071ff;
  font-weight: bold; 
  font-family: 'Inter', sans-serif;
}

.landing-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.main-subtitle {
  color: #ebe5e5;
  font-size: 35px;
}

.main-logo {
  width: 950px;
  max-width: 100%;
  height: auto;
  margin-top: 80px;
}

.instaicon {
  font-size: 50px !important;
  color: black !important;
}