/* 
.winner_2 .winner-drawing {
  background-color: black; 
  width: 235px;
}
.winner_3 .winner-drawing {
  background-color: black; 
  width: 235px;
}

.winner_2 .winner-name {
  background-color: #000000; 
  color: #ffffff;
}

.winner_3 .winner-name {
  background-color: #000000; 
  color: #ffffff;
} */

.winners{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.winners-top{
    width: 100%;
    position: relative;
}

.winners-title{
  position: absolute; 
  left: 50%; 
  top: 15px;
  transform: translateX(-50%);
}

.winners-logo{
    position: absolute;
    top: 15px;
    right: 15px;
}

.winners-list{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.winner{
  width: 400px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
}

.winner-drawing{
 width: 100%;  
 height: 309px; 
 margin: 0 auto;
 
}
.winner-drawing img{
 
}

.winner-name{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #C3DD00;
color: black;
font-weight: 600;
height: 50px;
border: 2px solid black;
border-bottom: 0;
}

.winner-position{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
color: black;
font-weight: 600;
font-size: 20px;
border: 2px solid black;

}