.ref-title {
    width: 25%;
    background: #C3DD00;
    padding: 10px;
    margin: 20px;
    border-color: black;
    border-style: solid;
    border-width: 6px;
  
}

.ref-title-style{
    font-size: 40pt;
    text-align: center;
    margin: 10px;
}
.ref-info{
    box-shadow: 10px 10px black;
    color: black;
    display: flex;
    flex-direction: column;
    float: right;
    width: 35%;
    height: 75vh;
    border: 4px solid #000000;
    overflow: hidden;
    
}
.ref-image{ 
    background-color: #EBE5E5;
    align-items: center;
    height: 60%;
    width: auto;
    border: 4px solid #000000;
    
}
.ref-name{
    background-color: #C3DD00;
    text-align: center;
    height: 10%;
    width: auto;
    font-size: 1.5rem;
    border: 4px solid #000000;
    
}
.ref-facts{
    background-color: #EBE5E5;
    height: 30%;
    width: auto;
    border: 4px solid #000000;
    
}
.ref-social-media{
    margin: .5rem;
    text-align: left;
}
.rname-style{
    text-align: center;
    font-size: 3rem;
    
}
.ref-style{
    text-align: left;
    font-size: 2rem;
}

.ref-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    

}

