html,
body,
#react-root {
  height: 100%;
}
/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn_desktop {
    background-color: #C3DD00;
    height:fit-content;
    width: fit-content;
    border: 3px solid black;
    color: black;
    align-self: flex-end;
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
    display: inline-block;
    /* padding: 5px; */


  }
  
  .btn_sizeMin {
    min-height: 50px;
    min-width: 100px;
  }
  
  .btn_sizeSm {
    padding: 10px 15px;
    font-size: 0.8rem;
  }
  
  .btn_sizeFull {
    display: block;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #d9e602;
    text-decoration: none;
  }

  /* --------------------------------------------------------------------------------
FormPanels
-------------------------------------------------------------------------------- */
.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 2rem;
  margin: 0 auto 1rem;
  text-align: center;
  
}

input {
  padding: auto;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;

}