.container{
    width: auto;
    height: auto;
    align-items: center;
  
}
.new-event-form{
    width: 50%;
    height: auto;
    padding: 1rem;
    background: #C3DD00;
    border: 4px solid #000000; 
    
}

.event-info{
    float: left;
    width: 45%;
    padding: 1rem;
  
   
}
.staff-detail{
    float: left;
    width: 45%;
    padding: 1rem;
}

.date-box{
  border-style: solid;
  border-width: 4px;
  border-color: black;
  height: 2.25rem;

  
}

.ref-select-dropdown{
    border-style: solid;
    border-width: 4px;
    border-color: black;
   

}