html,body {
    height: 100%;
}

.container {
    text-align: center;
}

.contact-info {
    color: #ebe5e5;
    text-align: left;
    display: inline-block; 
    max-width: 810px;      
    font-size: 30px;
    padding-top: 175px;
}

.info {
    padding: 100px;
}

.instaicon {
    padding-top: 10px;
    font-size: 42px !important;
    color: black !important;
}

p {
    margin: 4.5px 0;
}

.email {
    padding-top: 30px !important;
}