.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0071ff;
    height: 100vh;
    padding: 20px;
}
  
.header {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.team-gallery-box {
    background-color: #C3DD00;
    height: 50px;
    width: 300px;
    border: 4px solid black;
    color: black;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
  
.gallery-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}
  
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.image-container {
    width: 300px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px;
}
  
.placeholder-image {
    font-size: 18px;
    color: gray;
}
  
.round-label {
    background-color: #C3DD00;
    height: 50px;
    width: 300px;
    border: 4px solid black;
    color: black;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
  
.error-message {
    color: red;
    font-weight: bold;
}
