.role-button {
    border: 3px solid black;
    background: #ebe5e5;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    cursor: pointer; 
    box-shadow: 3px 6px black;
    color: black;
    align-self: flex-end;
}
.role-button:hover {
  background-color: #d9e602;
}

.role-button:focus { 
    background-color: #d9e602;
 }

 .register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0071ff;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
    position: relative;
 }
