.join-game {
    background-color: #007bff;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-left {
    width: 200px;
    cursor: pointer;
}

.hamburger-right {
    font-size: 50px;
    cursor: pointer;
    color: white;
    padding: 15px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-game-box {
    background-color: #C3DD00;
    height: 50px;
    width: 300px;
    border: 3px solid black;
    color: black;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.join-game-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.join-game-subtitle {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.join-game-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    font-size: 32px;
    font-weight: 700;
    align-items: end;
}

.join-game-form input {
    background-color: white;
    border: 3px solid black;
    height: 50px;
    width: 350px;
    outline: 0;
    padding: 10px;
    font-weight: 700;
    font-size: 32px;
}

.join-game-form button {
    background-color: #C3DD00;
    height: 60px;
    width: 150px;
    border: 3px solid black;
    color: black;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-game-form input::placeholder {
    font-weight: 700;
    color: #d1d0ce;
}

.join-game-form button:hover {
    background-color: #d9e602;
}

.error-message {
    color: red;
    font-weight: 700;
}
