.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.logo-container {
  position: absolute;
  left: 20px;
}

.nav-logo {
  width: 150px;
  cursor: pointer;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-button {
  padding: 15px;
  font-size: 25px;
  color: black;
  background-color: #ebe5e5;
  border: 3px solid black;
  cursor: pointer;
  width: 250px;
  text-align: center;
}

.nav-button:hover {
  background-color: #d9e602;
}

@media (orientation: portrait) {
  .nav-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
  }

  .logo-container {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-logo {
    width: 250px;
    margin-left: 0;
    cursor: pointer;
  }

  .menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .nav-button {
    font-size: 20px;
    width: 250px;
    padding: 10px;
    text-align: center;
  }
}
